.cache/*
*.DS_Store
.idea
__pycache__/
.pytest_cache/*
/superform/.cache/*
/superform/.pytest_cache/*
/superform/setup.py/
/superform/superform/config.json
/superform/superform/superform.db
/venv/
superform/superform/selenium_drivers/
/superform/superform/suputils/NewKey.key
/superform/superform/suputils/Superform.kdbx
