# Created by .ignore support plugin (hsz.mobi)
venv/
.idea
.cache/*
*.DS_Store
.DS_Storegit
superform/superform/__pycache__/
/superform/superform/config.json
.cache/*
.idea
__pycache__/
.pytest_cache/*
/superform/.cache/*
/superform/.pytest_cache/*
/superform/setup.py/
/superform/superform/config.json
/superform/superform/superform.db
venv/
superform/superform/selenium_drivers/
*.pyc
*.db
superform/superform/selenium_drivers/
superform/superform/suputils/NewKey.key
superform/superform/suputils/Superform.kdbx
superform/superform/suputils/keepass.py
.coverage
htmlcov/
pip
superform/.coverage
superform/htmlcov/
/superform/superform/superformClean.db
/venv/
/superform/superform/suputils/NewKey.key
/superform/superform/suputils/Superform.kdbx