# Created by .ignore support plugin (hsz.mobi)
.idea
.cache/*
/__pycache__/
.pytest_cache/*
/superform/.cache/*
/superform/.pytest_cache/*
/superform/setup.py/
/superform/superform/config.json
/superform/superform/plugins/__pycache__/
/superform/superform/__pycache__/
/superform/superform/superform.db
superform/superform/tests/__pycache__/
/venv/
