

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ chan.name }}_datedebut">Starting date</label><br>
            <input id="{{ chan.name }}_datedebut" name="{{ chan.name }}_datedebut" type="date" class="form-control" value="{{ extra['date_start'] }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ chan.name }}_heuredebut">Starting time</label><br>
            <input type="time" name="{{ chan.name }}_heuredebut" id="{{ chan.name }}_heuredebut"  class="form-control" value="{{ extra['time_start'] }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ chan.name }}_datefin">Ending date</label><br>
            <input type="date" name="{{ chan.name }}_datefin" id="{{ chan.name }}_datefin" class="form-control" value="{{ extra['date_end'] }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ chan.name }}_heurefin">Ending time</label><br>
            <input type="time" name="{{ chan.name }}_heurefin" id="{{ chan.name }}_heurefin" class="form-control" value="{{ extra['time_end'] }}">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="{{ chan.name }}_location">Location</label><br>
    <input type="text" name="{{ chan.name }}_location" id="{{ chan.name }}_location" class="form-control" value="{{ extra['location'] }}">
</div>
<div class="form-group">
    <label for="{{ chan.name }}_color">Color</label><br>
    <select name="{{ chan.name }}_color" id="{{ chan.name }}_color" class="form-control">
        <option value="{{ extra['color'] }}" selected> Default</option>
        <option value="1">Lavender</option>
        <option value="2">Sage</option>
        <option value="3">Grape</option>
        <option value="4">Flamingo</option>
        <option value="5">Banana</option>
        <option value="6">Tangerine</option>
        <option value="7">Peacock</option>
        <option value="8">Graphite</option>
        <option value="9">Blueberry</option>
        <option value="10">Basil</option>
        <option value="11">Tomato</option>
    </select>
</div>
<div class="form-group">
    <label for="{{ chan.name }}_visibility">Visibility</label><br>
    <select name="{{ chan.name }}_visibility" id="{{ chan.name }}_visibility" class="form-control">
        {% if extra['visibility'] == "true" %}
            <option value="true" selected>Public</option>
            <option value="false" >Private</option>
        {%  else %}
            <option value="true">Public</option>
            <option value="false" selected>Private</option>
        {% endif %}
    </select>
</div>
<div class="form-group">
    <label for="{{ chan.name }}_availability">Availability</label><br>
    <select name="{{ chan.name }}_availability" id="{{ chan.name }}_availability" class="form-control">
        {% if extra['availability'] == "true" %}
            <option value="true" selected>Free</option>
            <option value="false">Busy</option>
        {% else %}
            <option value="true">Free</option>
            <option value="false" selected>Busy</option>
        {% endif %}
    </select>
</div>
<div class="form-group">
    <label for="{{ chan.name }}_guests">Guests emails (split them with a comma)</label><br>
    <input type="text" name="{{ chan.name }}_guests" id="{{ chan.name }}_guests" class="form-control" value="{{ extra['guests'] }}">
</div>
