<!-- mettre l'ancien form gcal -->

<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="{{ chan.name }}_titlepost">Title</label><br>
                <input type="text" name="{{ chan.name }}_titlepost" id="{{ chan.name }}_titlepost" class="form-control">
            </div>
            <div class="form-group">
                <label for="{{ chan.name }}_descriptionpost">Description</label><br>
                <textarea class="form-control" rows="5" id="{{ chan.name }}_descriptionpost" name="{{ chan.name }}_descriptionpost"></textarea>
            </div>
            <div class="form-group">
                <label for="{{ chan.name }}_linkurlpost">Link</label><br>
                <input type="text" name="{{ chan.name }}_linkurlpost" id="{{ chan.name }}_linkurlpost" class="form-control">
            </div>
            <div class="form-group">
                <label for="{{ chan.name }}_imagepost">Image</label><br>
                <input type="file" name="{{ chan.name }}_imagepost" id="{{ chan.name }}_imagepost" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ chan.name }}_datefrompost">Publication Date</label><br>
                        <input id="{{ chan.name }}_datefrompost" name="{{ chan.name }}_datefrompost" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ chan.name }}_dateuntilpost">Publication Until</label><br>
                        <input id="{{ chan.name }}_dateuntilpost" name="{{ chan.name }}_dateuntilpost" type="date" class="form-control">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>