{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block stylesheet %}
    <style>
    .card {
        margin: 25px 0;
    }
    </style>
{% endblock %}
{% block content %}
    {% if session.logged_in %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>My posts</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% for item in posts %}
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    {% if item.title == "" %}
                                        <span>(vide)</span>
                                    {% else %}
                                        <span class="font-weight-bold">{{ item.title }}</span>
                                    {% endif %}
                                </div>
                                <div class="card-subtitle">
                                    <span class="text-muted">{{ item.date_created }}</span>
                                </div>
                                <div class="card-text">
                                    {% if item.description == "" %}
                                        <p>(vide)</p>
                                    {% else %}
                                        <p>{{ item.description }}</p>
                                    {% endif %}
                                </div>
                                <a class="btn btn-outline-primary" role="button" href="{{ url_for('posts.edit_post', post_id=item.id) }}">Edit</a>
                                <a class="btn btn-outline-warning" role="button" href="#">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-4">
                    Filtrer...
                </div>
            </div>
        </div>
    {% else %}
        <p>Your are not logged in.</p>
    {% endif %}
{% endblock %}
