{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block stylesheet %}
    <style>
    .card {
        margin: 35px 0;
    }
    .card-title {
        font-size: 1.4em;
    }
    </style>
{% endblock %}
{% block content %}
    {% if session.logged_in %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li><strong class="text-danger">{{ message }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <h1>My posts</h1>
            <div class="row">
                <div class="col-md-8">
                    {% for item in posts.items %}
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    {% if item.title == "" %}
                                        <span>(vide)</span>
                                    {% else %}
                                        <span class="font-weight-bold">{{ item.title }}</span>
                                    {% endif %}
                                </div>
                                <div class="card-subtitle">
                                    <span class="text-muted">{{ item.date_created }}</span>
                                </div>
                                <div class="card-text">
                                    <div class="tags">
                                        {% for channel in item.channels %}
                                            <a href="#" class="badge badge-primary">
                                                {{ channel.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <p class="preview">
                                        {% if item.description == "" %}
                                            (vide)
                                        {% else %}
                                            {{ item.description }}
                                        {% endif %}
                                    </p>
                                </div>
                                <a class="btn btn-outline-primary" role="button" href="{{ url_for('edit.edit_post', post_id=item.id) }}">Edit</a>
                                <a href="#" class="btn btn-outline-primary">Copy</a>
                                <a href="{{ url_for('delete.delete',id=item.id) }}" class="btn btn-outline-warning" role="button">Delete</a>

                            </div>
                        </div>
                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if posts.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for("index", page=posts.page - 1) }}"}>Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"}>Previous</a>
                                </li>
                            {% endif %}
                            {%- for page in posts.iter_pages() %}
                                {% if page %}
                                    {% if page != posts.page %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ url_for("index", page=page) }}"}>{{ page }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item active">
                                            <a class="page-link" href="#">
                                                {{ posts.page }}
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"}>...</a>
                                    </li>
                                {% endif %}
                            {%- endfor %}
                            {% if posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for("index", page=posts.page + 1) }}"}>Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"}>Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>


            <!--Add publishing that we can rebsumit-->
            <div class="row">
                <div class="col-md-12">
                    <h1>Publishings refused</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% for item in pubs_unvalidated %}
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <span class="font-weight-bold">{{ item.title }}</span>
                                </div>
                                <div class="card-subtitle mb-2 text-muted" title="{{ item.comment }}">Comment : {{ item.comment_short }}</div>
                                <div class="card-text">
                                    <div class="tags">
                                        {% for channel in item.channels %}
                                            <a href="#" class="badge badge-primary">
                                                {{ channel.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <p class="preview">
                                        {{ item.description }}
                                    </p>
                                </div>
                                    <a class="btn btn-outline-primary" role="button" href="{{ url_for('posts.resubmit_publishing', id=item.publishing_id) }}">Resubmit</a>
                                <a class="btn btn-outline-warning" role="button" href="#">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='assets/uclouvain.png') }}" alt="logo ucl">
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-lg btn-success" href="{{ url_for('authentication.login') }}" role="button">
                            <i class="fas fa-sign-in-alt"></i> Log In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
