{% extends "layout.html" %}
{% block title %}Moderate{% endblock %}
{% block content %}
    <h1>Moderate this publication</h1>
    {% if session.logged_in %}
        <form method="POST" action="">
            <div class="row"  module-namechan="{{chan.module }}">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="titlepost">Title</label><br>
                        <input type="text" name="titlepost" id="titlepost" class="form-control" value="{{ pub.title }}">
                    </div>
                    <div class="form-group">
                        <label for="descrpost">Description</label><br>
                        <textarea class="form-control" rows="5" id="descrpost" name="descrpost">{{ pub.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="linkurlpost">Link</label><br>
                        <input type="text" name="linkurlpost" id="linkurlpost" class="form-control" value="{{ pub.link_url }}">
                    </div>
                    <div class="form-group">
                        <label for="imagepost">Image</label><br>
                        <input type="text" name="imagepost" id="imagepost" class="form-control" value="{{ pub.image_url }}">
                    </div>
                    {% if channel.module == "superform.plugins.ICTV" %}
                        <div class="form-group">
                            <label for="subtitle">Subtitle</label><br>
                            <input type="text" name="subtitle" id="subtitle" class="form-control" value="{{ pub.subtitle}}">
                        </div>
                        <div class="form-group">
                            <label for="logo">Logo</label><br>
                            <input type="text" name="logo" id="logo" class="form-control" value="{{ pub.logo}}">
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration</label><br>
                            <input type="number" name="duration" id="duration" class="form-control" value="{{ pub.duration}}">
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datefrompost">Publication Date</label><br>
                                <input id="datefrompost" name="datefrompost" type="date" class="form-control" value="{{ pub.date_from }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateuntilpost">Publication Until</label><br>
                                <input id="dateuntilpost" name="dateuntilpost" type="date" class="form-control" value="{{ pub.date_until }}">
                            </div>
                        </div>
                    </div>
                    </div>
                    {% if template!=None %}
                        {% include template %} <!-- include extra form if necessary -->
                    {% endif %}
                </div>
            </div>
            <button id="publish" class="btn btn-success">Publish</button>
        </form>
    {% else %}
        You are not logged in.
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/moderate.js') }}" crossorigin="anonymous"></script>
{% endblock %}