<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        <meta name="keywords" content="HTML, CSS, XML, JavaScript">
    </head>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"><channel><title>nixCraft Updated Tutorials/Posts</title><link>www.goog</link><description>descripto</description><language>en-US</language><lastBuildDate>Mon, 19 Nov 2018 15:39:39 GMT</lastBuildDate><generator>rfeed v1.1.1</generator><docs>https://github.com/svpino/rfeed/blob/master/README.md</docs><item><title>zaeazeaze</title><link>www.google.com</link><description>aze</description><author>Superform</author><pubDate>Tue, 20 Nov 2018 00:00:00 GMT</pubDate><guid isPermaLink="true">https://www.cyberciti.biz/tips/my-10-unix-command-line-mistakes.html</guid></item></channel></rss>
</html>